.footer-section{
  position: relative;
  z-index: 111;
}
.img-background-footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.img-background-footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: left;
}

.img-overlay-footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(15, 23, 42, .9) 0%,
    rgba(15, 23, 42, .9) 100%
  );
  z-index: 1;
}
.footer-bottom{
  opacity: .6;
  border-top: 1px solid var(--border);
  position: relative;
  z-index: 111;
}