.vault-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1111;
}
.nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  padding: 8px 15px;
  position: relative;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.nav-link:hover {
  opacity: 0.8;
}

.menu-parent {
  position: relative;
}

.menu-card {
  position: absolute;
  top: 100%;
  left: 0;

  min-width: 200px;
  background: #fff;

  list-style: none;
  padding: 0;
  margin: 0;

  border-radius: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  opacity: 0;
  transform: translateY(8px);
  transition: all 0.2s ease;

  pointer-events: none;
  z-index: 999;
}

.menu-card.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menu-card li {
  border-bottom: 1px solid #dcdcdc;
}

.menu-card li:last-child {
  border-bottom: none;
}

.menu-card-item {
  display: block;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.2s ease;
  color: #000;
}

.sidebar-submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s;
  padding-left: 0; /* override ul default */
  border-radius: 6px;
  margin-top: 0.5rem;
}

.menu-link {
  width: 100%;
  text-align: left;
  padding: 0;
  background: transparent;
  border: none;
}

.vault-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fff;
  box-shadow: 0 4px 32px rgba(0,0,0,0.15);
}

/* Hide sidebar completely on large screens */
@media (min-width: 1024px) {
  .vault-sidebar,
  .vault-sidebar-overlay {
    display: none !important;
  }
}
