.home-page {
  display: block;
  min-height: 100vh;
}

.hero-section{
  position: relative;
  z-index: 111;
}

.hero-text{
  font-size: clamp(2.5rem, 6vw, 70px);
  font-family: var(--font-libre-baskerville), serif;
}

.vault-pin {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
}

@media (max-width: 1024px) {
  .vault-pin {
    display: none !important;
  }
}

