.home-page {
  display: block;
  min-height: 100vh;
}

.hero-section{
  position: relative;
  z-index: 111;
}

.hero-text{
  font-size: clamp(2.5rem, 6vw, 70px);
  font-family: var(--font-libre-baskerville), serif;
}


.vault-pin {
  position: absolute;
  right: 80px;
  top: 20%;
  transform: translateY(-50%);
  will-change: transform;
  pointer-events: none;
}

/* .vault-pin {
  position: absolute;
  right: 80px;
  top: 20%;
  transform: translateY(-50%);
  transition: transform 0.15s ease-out;
  will-change: transform;
} */

/* .vault-pin {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
} */

/* .vault-pin {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
  animation: vault-pin-scale 1.2s infinite ease-in-out;
}

@keyframes vault-pin-scale {
  0% {
    transform: translateY(-50%) scale(1);
  }
  50% {
    transform: translateY(-50%) scale(1.2);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
} */

@media (max-width: 1024px) {
  .vault-pin {
    display: none !important;
  }
  .vault-wave-wrapper {
        display: none !important;

  }
}


.vault-wave-wrapper {
  position: relative;
  display: inline-block;
}

.vault-wave-text {
  position: relative;
}

.vault-wave-text h2 {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(3rem, 8vw, 8rem);
  font-family: var(--font-roboto), serif;
  margin: 0;
  opacity: .1;
}

/* Stroke Layer */
.vault-wave-text h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

/* Animated Fill Layer */
.vault-wave-text h2:nth-child(2) {
  color: #ffffff;
  animation: vaultWave 4s ease-in-out infinite;
}

/* Wave Animation */
@keyframes vaultWave {
  0%, 100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.vault-marquee {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  background: transparent;
  position: absolute;
  bottom: 0px;
  z-index: 1111;
}

.vault-track {
  display: inline-block;
  white-space: nowrap;
  animation: vaultScroll 33s linear infinite;
}

.vault-track span {
  font-size: clamp(2rem, 6vw, 80px);
  font-family: var(--font-roboto), serif;
  font-weight: 600;
  margin-right: 60px;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  opacity: .2;
}

/* @keyframes vaultScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
} */

@keyframes vaultScroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
