.what-we-do-card{
  background: var(--primary);
  min-height: 450px;
}
.what-we-do-card-text{
  padding: 30px 40px;
}
.active{
  background: var(--primary-blue);
}

.fade-slide-in {
     animation: fadeSlideIn 0.6s cubic-bezier(0.36,0,0.66,-0.56);
 }
  @keyframes fadeSlideIn {
     0% {
       opacity: 0;
       transform: translateY(30px);
   }
    100% {
       opacity: 1;
       transform: translateY(0);
   }
 }