.our-story-card{
  height: 320px;
  border-right: 1px solid var(--white);
}
.our-story-section{
  position: relative;
  z-index: 111;
}

.img-background-our-story {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  background-color: var(--primary);
}

.img-background-our-story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: left;
}

.img-overlay-our-story {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(15, 23, 42, .9) 0%,
    rgba(15, 23, 42, .9) 100%
  );
  z-index: 1;
}