.partner-with-us {
  background-color: var(--primary);
  overflow-x: hidden;
   height: auto; 
}

.partner-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
}

.partner-left {
  position: relative;
  border-right: 1px solid #FFFFFF29;

}

.partner-left-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  min-height: 300px;
  background-color: var(--primary);
  z-index: 1;
}

@media (max-width: 1024px) {
  .partner-layout {
    grid-template-columns: 1fr;
  }
  .partner-left-inner {
    padding-top: 0px;
    min-height: 350px;
  }
  .partner-left {
    width: 100%;
  }
  .partner-right {
    width: 100%;
  }
}

.partner-right {
  display: flex;
  flex-direction: column;
}

.partner-with-us-content {
  padding: 4rem;
  border-bottom: 1px solid #FFFFFF29;
}

.partner-with-us-content:last-child {
  border-bottom: none;
}